<%= render "shared/notify", notify: "Please confirm your account from your register email" unless ConfirmService.confirmed?(@user) %>

<%= form_for [@user, @profile],
  html: {class: "form-horizontal", "data-parsley-validate" => true} do |f| %>
  <fieldset class="profile-info">
    <div class="form-group">
      <label for="profile_name" class="col-sm-2 control-label">
        Name
      </label>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label for="profile_email" class="col-sm-2 control-label">
        Email
      </label>
      <div class="col-sm-10">
        <%= f.email_field :email, class: "form-control", data: {"parsley-trigger" => "change"} %>
        <span class="help-block">This need not be your register email.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="profile_website" class="col-sm-2 control-label">
        Website
      </label>
      <div class="col-sm-10">
        <%= f.text_field :website, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label for="profile_location" class="col-sm-2 control-label">
        Location
      </label>
      <div class="col-sm-10">
        <%= f.text_field :location, class: "form-control" %>
      </div>
    </div>
  </fieldset>
  <fieldset class="profile-action">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Update Profile", class: "btn btn-success" %>
      </div>
    </div>
  </fieldset>
<% end %>
