<%= link_to "Sign in with Github", "/auth/github" %>
<p>
  <strong>Don&rsquo;t use these services?</strong>
  <%= link_to "Create an account", signup_path %> or login below.
</p>

<%= form_tag "/auth/identity/callback", class: "account-form",
  "data-parsley-validate" => true do %>
  <fieldset class="account-info">
    <label>
      Email
      <%= email_field_tag :auth_key, nil, class: "form-control", required: true,
        "data-parsley-trigger" => "change" %>
      <span class="help-block">This must be your register email</span>
    </label>
    <label>
      Password
      <input type="password" name="password" class="form-control" required>
      <p><%= link_to "forgotten password?", new_password_reset_path %></p>
    </label>
  </fieldset>
  <fieldset class="account-action">
    <input id="login" class="btn btn-success" type="submit" value="Login">
    <label>
      <%= check_box_tag :remember_me %> Remember me
    </label>
  </fieldset>
<% end %>
