<%= render @ask %>

<div class="comments-box" id="comments-box">
  <div class="comments-stat"><%= pluralize(@comments.count, "comment") %></div>
  <div class="comments">
    <%= render @comments %>
  </div>
  <%= paginate @comments, remote: true %>
</div>

<%= render "comments/form", res: @ask %>
