<%= form_tag "/auth/identity/register", class: "account-form" do %>
  <%= render partial: "shared/err", locals: {res: @identity} %>

  <fieldset class="account-info">
    <label>
      Nickname
      <%= text_field_tag :nickname, @identity.try(:nickname), required: true %>
    </label>
    <label>
      Email
      <%= email_field_tag :email, @identity.try(:email), required: true %>
    </label>
    <label>
      Password
      <%= password_field_tag :password, nil, required: true %>
    </label>
    <label>
      Password confirmation
      <%= password_field_tag :password_confirmation, nil, required: true %>
    </label>
  </fieldset>
  <fieldset class="account-action">
    <input id="register" class="btn btn-success" type="submit" name="submit" value="Register" >
  </fieldset>
<% end %>
