<%= form_for @slice, html: {"data-parsley-validate" => true}  do |f| %>
  <%= render "shared/err", res: @slice %>

  <div class="title">
    <%= f.text_field :title, class: "form-control", required: true, placeholder: "Title" %>
  </div>

  <div class="wmd-group">
    <div class="wmd-text">
      <%#<div id="wmd-button-bar-slice"></div>%>
      <%= f.text_area :body, class: "wmd-input form-control",
        id: "wmd-input-slice", required: true,
        placeholder: "Code here, please see example on the right." %>
      <div class="wmd-preview" id="wmd-preview-slice"></div>
      <%= f.text_area :note, class: "wmd-input form-control",
        id: "wmd-input-note", placeholder: "Note, also support Markdown." %>
    </div>
    <%= f.submit class: "btn btn-success"%>
  </div>
<% end %>
