<%= form_for @slice  do |f| %>
  <%= render partial: "shared/err", locals: {res: @slice} %>

  <div class="title">
    <%= f.text_field :title, class: "span1", required: true, placeholder: "Title" %>
  </div>

  <div class="text">
    <div id="wmd-button-bar"></div>
    <%= f.text_area :text, class: "wmd-input", id: "wmd-input" %>
    <div class="wmd-preview" id="wmd-preview"></div>
  </div>

  <p>
    <%= f.submit class: "btn btn-success"%>
  </p>
<% end %>
