<div class="slice">
  <%#= link_to slice_path(slice) do %>
    <header class="se_header">
      <span><%= slice.title %></span>
      <small class="se_info"><%= link_to slice.user.nickname, user_path(slice.user) %></small>
      <small class="se_info"><%= time_ago_in_words(slice.updated_at) %></small>
      <%= select_slice_icons_by_user(current_user, slice) %>
    </header>
  <%# end %>

  <div class="se_mkd">
<%# remove leading spaces %>
<%= slice.text %>
  </div>

  <%# display note as default unless note_hidden is true %>
  <% if(!defined? note_hidden or !note_hidden) %>
    <div class="se_mkd se_note">
<%= slice.note %>
    </div>
  <% end %>
</div>
