<div class="slice">
  <%= link_to slice_path(slice) do %>
    <div class="se_title">
      <%= slice.title %>
    </div>
  <% end %>

  <div class="se_mkd">
<%#remove leading spaces%>
<%= slice.text %>
  </div>

  <div class="se_mkd se_note" style=<%= note_style if defined? note_style %>>
<%= slice.note %>
  </div>
</div>
