<div class="slices">
  <% @slices.each do |slice| %>
      <div class="slice">
        <%= link_to slice_path(slice) do %>
          <div class="se_title">
            <%= slice.title %>
          </div>
        <% end %>
        <div class="se_text">
<%= slice.text %>
        </div>
        <div class="se_note">
          <%= slice.note %>
        </div>
      </div>
  <% end %>
</div>

<%= link_to "New slice", new_slice_path %>

<script>
  document.addEventListener('DOMContentLoaded', function(e){
    var sts = document.getElementsByClassName("se_text");
    for(i=0; i<sts.length; i++) {
      var md = marked(sts[i].innerHTML);
      sts[i].innerHTML = md;
    }
  });
</script>
