<h1>All slices</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Note</th>
  </tr>

  <% @slices.each do |slice| %>
    <div class="slice">
      <tr>
        <td><%= slice.title %></td>
        <td><%= slice.text %></td>
        <td><%= slice.note %></td>
        <td><%= link_to "Show", slice_path(slice) %></td>
        <td><%= link_to "Edit", edit_slice_path(slice) %></td>
        <td><%= link_to "Destroy", slice_path(slice), method: :delete,
          data: {confirm: "Are you sure?"} %></td>
      </tr>
    </div>
  <% end %>
</table>

<%= link_to "New slice", new_slice_path %>
