<div class="slice">
  <div class="title">
    <p>
      <%= @slice.title %>
    </p>
  </div>

  <div class="text" id="out">
    <p>
      <%= @slice.text %>
    </p>
  </div>

  <div class="note" >
    <p>
      <%= @slice.note %>
    </p>
  </div>
</div>

<div class="comments">
<h2>Comments</h2>
<%= render @slice.comments %>
</div>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to "Back", slices_path %>
<%= link_to "Edit", edit_slice_path(@slice) %>

<script>
    document.getElementById('out').innerHTML =
      marked(document.getElementById('out').innerHTML)
  document.addEventListenner('Loaded', function(e){
  })
</script>
