<div class="slice">
  <div class="title">
    <p>
      <strong>Title:</strong>
      <%= @slice.title %>
    </p>
  </div>

  <div class="text">
    <p>
      <strong>Text:</strong>
      <%= @slice.text %>
    </p>
  </div>

  <p>
    <strong>Note:</strong>
    <%= @slice.note %>
  </p>
</div>

<div class="comments">
<h2>Comments</h2>
<%= render @slice.comments %>
</div>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to "Back", slices_path %>
<%= link_to "Edit", edit_slice_path(@slice) %>
