<div class="slice">
  <div class="se_title">
    <p>
      <%= @slice.title %>
    </p>
  </div>

  <div class="se_text" id="se_text">
<%= @slice.text %>
  </div>

  <div class="se_note" >
    <p>
      <%= @slice.note %>
    </p>
  </div>
</div>

<div class="comments">
  <h2>Comments</h2>
  <%= render @slice.comments %>
</div>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to "Back", slices_path %>
<%= link_to "Edit", edit_slice_path(@slice) %>

<script>
  document.addEventListener('DOMContentLoaded', function(e){
    var se = document.getElementById('se_text');
    var md = marked(se.innerHTML);
    se.innerHTML = md;
  });
</script>
