<div class="slice">
  <%= render @slice %>
</div>
<%= link_to "Back", slices_path %>
<%= link_to "Edit", edit_slice_path(@slice) %>

<div class="comments-box">
  <div class="comments-stat"><%= pluralize(@slice.comments.count, "comment") %></div>
  <div class="comments">
    <%= render @slice.comments %>
  </div>
</div>

<%= render "comments/form" %>
