<div class="slice">
  <%= render @slice %>
</div>
<%= link_to "Back", slices_path %>
<%= link_to "Edit", edit_slice_path(@slice) %>

<div class="comments-box">
  <div class="comments-stat"><%= pluralize(@comments.count, "comment") %></div>
  <div class="comments">
    <%= render @comments %>
  </div>
  <%= paginate @comments %>
</div>

<%= render "comments/form" %>
