<p>
<strong>Title:</strong>
<%= @slice.title %>
</p>

<p>
<strong>Text:</strong>
<%= @slice.text %>
</p>

<h2>Comments</h2>
<%= render @slice.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to "Back", slices_path %>
<%= link_to "Edit", edit_slice_path(@slice) %>
