<div class="slice">
  <%= render @slice %>
</div>

<div class="comments">
  <h2>Comments</h2>
  <%= render @slice.comments %>
</div>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to "Back", slices_path %>
<%= link_to "Edit", edit_slice_path(@slice) %>

<script>
  document.addEventListener('DOMContentLoaded', function(e){
    var se = document.getElementById('se_text');
    var md = marked(se.innerHTML);
    se.innerHTML = md;
  });
</script>
