<!DOCTYPE html>
<html>
  <head>
    <title>Codeslice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag image_path("favicon.ico") %>
    <%= csrf_meta_tags %>
  </head>
  <body data-controller-name="<%= controller_name %>">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "CodeSlice", "/", class: "navbar-brand" %>
          <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-list"></span>
          </button>
          <button type="button" class="navbar-toggle">
            <span class="glyphicon glyphicon-search"></span>
            <span class="sr-only">Toggle search</span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Share", "#", class: "active navbar-link" %></li><!--
            --><li><%= link_to "Ask", "#", class: "navbar-link" %></li><!--
            --><li><%= link_to "Award", "#", class: "navbar-link",
            style: "visibility: hidden" %></li>
          </ul>
          <div class="navbar-right row">
            <form action="#" class="navbar-form col-xs-9" method="get"
              role="search">
              <div class="form-group">
                <input type="text" class="form-control"
                  name="q" placeholder="Search" disabled>
              </div>
            </form>
            <div class="col-xs-3">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <button type="button"
                    class="navbar-btn btn
                    <%= if current_user then "btn-info" else "btn-default" end %>
                      dropdown-toggle" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-user"></span>
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <% if current_user %>
                      <li><%= link_to "Home", user_path(current_user) %></li><!--
                      --><li><%= link_to "Profile", "#" %></li><!--
                      --><li><%= link_to "Message", "#" %></li><!--
                      --><li class="divider"></li><!--
                      --><li><%= link_to "Log out", "/account/logout" %></li>
                    <% else %>
                      <li><%= link_to "Log in", "/account/login" %></li><!--
                      --><li><%= link_to "Sign up", "/account/signup" %></li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <%= render "shared/flash" %>
      <div class="row">
        <section class="col-sm-9">
          <%= yield %>
        </section>
        <aside class="col-sm-3">
          <%= render "sidebar" %>
        </aside>
      </div>
    </div>
  </body>
</html>
