<!DOCTYPE html>
<html>
  <head>
    <title>Cmdslice</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="site-logo">
          <%= link_to 'SliceNote', '/' %>
        </div>
        <form action="#" class="navbar-search" method="get">
          <input type="text" name="q" class="search" value="<%= params[:q] %>"
          placeholder="search" >
        </form>
      </div>
    </div>

    <div class="top-fixed">
      The palest ink is better than the best memory.
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
