<!DOCTYPE html>
<html>
  <head>
    <title>Cmdslice</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="site-logo">
          <%= link_to 'CodeSlice', '/' %>
        </div>
        <form action="#" class="navbar-search" method="get">
          <input type="text" name="q" class="search" value="<%= params[:q] %>"
          placeholder="search" >
        </form>
        <div class="navbar-account">
          <% if current_user %>
            <%= link_to current_user.nickname, user_path(current_user) %>
            <%= link_to "log out", "/account/logout" %>
          <% else %>
            <%= link_to "sign up", "/account/signup" %>
            <%= link_to "log in", "/account/login" %>
          <% end %>
        </div>
      </div>
    </div>

    <header class="top-fixed">
      <p><%= flash[:notice] %></p><br>
      The palest ink is better than the best memory.
    </header>

    <div class="clearfix container">
      <section>
        <%= yield %>
      </section>

      <aside>
        <% if current_user %>
          <%= current_user.nickname %>
        <% else %>
          sidebar
        <% end %>
      </aside>
    </div>

    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
