<!DOCTYPE html>
<html>
  <head>
    <title>Codeslice</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body data-controller-name="<%= controller_name %>">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="site-logo">
          <%= link_to 'CodeSlice', '/' %>
        </div>
        <form action="#" class="navbar-search" method="get">
          <input type="text" name="q" class="search" value="<%= params[:q] %>"
          placeholder="search" >
        </form>
        <div class="navbar-account">
          <ul>
            <% if current_user %>
              <li><%= link_to current_user.nickname, user_path(current_user) %></li><!--
              --><li><%= link_to "log out", "/account/logout" %></li>
            <% else %>
              <li><%= link_to "log in", "/account/login" %></li><!--
              --><li><%= link_to "sign up", "/account/signup" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <header class="top-fixed">
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p><br>
      <% else %>
        <p>
          好记性不如烂笔头<br>
          The palest ink is better than the best memory.
        </p>
      <% end %>
    </header>

    <div class="clearfix container">
      <section>
        <%= yield %>
      </section>

      <aside>
        <%= render 'sidebar' %>
      </aside>
    </div>

    <script type="text/javascript">
      hljs.initHighlightingOnLoad();

      document.addEventListener('DOMContentLoaded', function(e){
        var sts = document.getElementsByClassName("se_text");
        for(i=0; i<sts.length; i++) {
          var md = marked(sts[i].innerHTML);
          sts[i].innerHTML = md;
        }
      });

      <!--google analytics-->
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= Settings.google_analytics_key %>']);
      _gaq.push(['_setSiteSpeedSampleRate', 100]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
