<!DOCTYPE html>
<html>
  <head>
    <title>Codeslice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body data-controller-name="<%= controller_name %>">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="navbar-left nav nav-pills col-md-5">
            <li class="active"><%= link_to "Share", "#" %></li><!--
            --><li><%= link_to "Ask", "#" %></li><!--
            --><li><%= link_to "Award", "#", style: "visibility: hidden" %></li>
          </ul>
          <div class="site-logo col-md-2">
            <%= link_to "CodeSlice", "/", class: "navbar-brand" %>
          </div>
          <div class="navbar-right">
            <form action="#" class="navbar-search" method="get">
              <input type="text" name="q" class="form-control"
              value="<%= params[:q] %>" placeholder="search"
              disabled >
            </form>
            <div class="navbar-account">
              <ul class="nav nav-pills">
                <li class="dropdown">
                  <button type="button" class="btn <%= if  current_user then "btn-info" else "btn-default" end %> dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <% if current_user %>
                      <li><%= link_to "Home", user_path(current_user) %></li><!--
                      --><li><%= link_to "Profile", "#" %></li><!--
                      --><li><%= link_to "Message", "#" %></li><!--
                      --><li class="divider"></li><!--
                      --><li><%= link_to "Log out", "/account/logout" %></li>
                    <% else %>
                      <li><%= link_to "Log in", "/account/login" %></li><!--
                      --><li><%= link_to "Sign up", "/account/signup" %></li>
                    <% end %>
                    </ul>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <header class="top-fixed">
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p><br>
      <% else %>
        <p>
          好记性不如烂笔头<br>
          The palest ink is better than the best memory.
        </p>
      <% end %>
    </header>

    <div class="clearfix container">
      <section>
        <%= yield %>
      </section>

      <aside>
        <%= render "sidebar" %>
      </aside>
    </div>
  </body>
</html>
